.jumbotron{
  background-color: green;
}

#about {padding-top:50px;height:425px;color: black; background-color: white; background-image:url("http://4.bp.blogspot.com/-v95TY0bAoVc/VfEHTPbnyOI/AAAAAAAA4ck/cg6Ra0creME/s1600/15660.jpg"); border: 2px solid gray; border-radius: 5px}
#services {padding-top:50px;height:500px;color: #fff; background-color: #b3d9ff; background-image:url("http://www.wallpaperlite.com/images/VedioImages/beautiful-sun-shine-raises-nature-blue-sky-clouds-yellow-white-sunflower-leafs-grass-wallpapaer-images-for-desktop-iphone-free-download.jpg"); border: 2px solid gray; border-radius: 5px}
#questions {padding-top:50px;height:500px;color: #fff; background-color: white; background-image:url("http://1.bp.blogspot.com/-Lt287Kmax0Y/UghvQ7eAT4I/AAAAAAAAisI/zyWmA2yoeK4/s1600/Question+Mark+Pictures4.jpg"); border: 2px solid gray; border-radius: 5px}
#login {padding-top:50px;height:500px;color: #fff; background-color: #66ff66;border: 2px solid gray; border-radius: 5px}
#register {padding-top:50px;height:500px;color: #fff; background-color: #33ff33;border: 2px solid gray; border-radius: 5px}

p{
  color:black;
}

.navbar{
  background-color: #1aff1a;
}

.nav.navbar-nav li a{ 
  color:white;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;

}

.nav.navbar-nav li a:hover{
  color:yellow;
}


